@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
/*-----------------------------------------------site settings */
*{
    margin: 0; 
    padding: 0; 
    box-sizing: none;
}

html {
    font-size: 62.5%;
    height: 100vh;
}

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    color: rgb(245, 245, 245);
    background-color: rgb(0, 0, 0);
}

.site-cont {
    display: grid;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav nav"
    "main main main"
    "sect sect sect"
    "footer footer footer";
}

nav {
    grid-area: nav;
    background-color: yellow;
    margin-top: 20px;
    margin-bottom: 20px; 
}

main {
    grid-area: main;
    /* background-color: rgb(144, 24, 241, .2);    */
}

.section {
    grid-area: sect;
    /* background-color: rgba(114, 55, 163, 0.8); */
}

footer {
    grid-area: footer;
    /* background-color: rgb(144, 24, 241); */
}

/*-----------------------------------------------position & case styling */

.uppercase {
    text-transform: uppercase;
}

.normal-case{
    text-transform: none;
}

.left {
    text-align: justify;
}

.center {
    text-align: center;
}

.stick {
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
}


/*-----------------------------------------------custom styling */
a {
    color: rgb(245, 245, 245);
}

h1, 
h2,
h3,
h4 { 
    font-size: 24px;  
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.banner {
   padding: 15px;
}

.banner > img {
    float: left;
}

.banner > h2 {
    line-height: 110px;
}

.ffl-title{
    margin-bottom: 5px;
    font-weight: 600;
    letter-spacing: .35rem;
    font-size: 28px; 
}

.logo {
    width: 140px;
    height: 120px;
}

.me-avatar {
    width: 250px;
    height: 250px;
    margin-bottom: 5px;
}

.job-title{
    margin-bottom: 25px;
    font-weight: 600;
    letter-spacing: .25rem;
    font-size: 18px; 
}

.get-in-touch{
    font-size: 20px;
    margin-top: 50px;
}

.links {
    font-size: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    letter-spacing: 2rem;
}

.links > a:hover {
    font-size: 102px;  
    color: rgb(255, 238, 0);
}

.copyright  {
    margin: 5px;
    font-size: 12px;
}

/*-----------------------------------------------media queries */